@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
  :root {
    --color-dark-blue: #0B1120;
    --color-accent-blue: #3B82F6;
  }

  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-slate-950 text-slate-100;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

